<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tf.base.common.persistence.IndexModelMapper" >
  <resultMap id="BaseResultMap" type="com.tf.base.common.domain.IndexModel" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="node_type" property="nodeType" jdbcType="VARCHAR" />
    <result column="index_id" property="indexId" jdbcType="INTEGER" />
    <result column="model_id" property="modelId" jdbcType="INTEGER" />
    <result column="node_key" property="nodeKey" jdbcType="INTEGER" />
    <result column="node_category" property="nodeCategory" jdbcType="INTEGER" />
    <result column="start_node" property="startNode" jdbcType="INTEGER" />
    <result column="end_node" property="endNode" jdbcType="INTEGER" />
    <result column="sign_type" property="signType" jdbcType="VARCHAR" />
    <result column="setting_num" property="settingNum" jdbcType="VARCHAR" />
    <result column="node_text" property="nodeText" jdbcType="VARCHAR" />
    <result column="create_uid" property="createUid" jdbcType="INTEGER" />
    <result column="update_uid" property="updateUid" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="isdelete" property="isdelete" jdbcType="INTEGER" />
    <result column="param_name" property="paramName" jdbcType="VARCHAR" />
    <result column="default_value" property="defaultValue" jdbcType="VARCHAR" />
    <result column="picture_title" property="pictureTitle" jdbcType="VARCHAR" />
    <result column="x_title" property="xTitle" jdbcType="VARCHAR" />
    <result column="y_title" property="yTitle" jdbcType="VARCHAR" />
    <result column="index_name" property="indexName" jdbcType="VARCHAR" />
    <result column="project_node_name" property="projectNodeName" jdbcType="VARCHAR" />

  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
    -->
    id, node_type, index_id, model_id, node_key, node_category, start_node, end_node,
    sign_type, setting_num, node_text, create_uid, update_uid, create_time, update_time,
    isdelete, param_name, default_value, picture_title, x_title, y_title
  </sql>

  <select id="selectNodeTypeByIndexId" parameterType="int" resultMap="BaseResultMap">
  	select *  from index_model where index_id =#{indexId} and isdelete=0
  	and index_id is not null <!-- and node_type in ('pie','bar','line','Hline','scatter') -->
  	and node_category in (2,5)
  </select>

  <select id="selectLabelByProjectId" parameterType="int" resultMap="BaseResultMap">
    SELECT
    pi.index_name as project_node_name,
    info.index_name,
    pi.id,
    im.node_text,
    pi.index_id,
    im.node_key,
    im.node_type,
    im.end_node,
    im.start_node,
    im.node_category,
    im.picture_title
    FROM
    project_index pi
    LEFT JOIN index_model im ON pi.index_id = im.index_id LEFT JOIN index_info info on info.id=im.index_id
    WHERE
    pi.index_id > 0
    AND pi.project_id =#{projectId}
    AND im.isdelete=0
    AND im.node_category in (2,5,7)
  </select>


  <select id="selectIndexChildList" resultMap="BaseResultMap" parameterType="java.util.Map">
    SELECT
      <include refid="Base_Column_List"/>
    from index_model a
    <where>
      <include refid="where_index_list"></include>
    </where>
    order by id desc
    limit #{start},#{params.rows}
  </select>

  <select id="getIndexChildCount" resultType="java.lang.Integer" parameterType="java.util.Map">
    SELECT count(1) from index_model a
    <where>
      <include refid="where_index_list"></include>
    </where>
  </select>

  <sql id="where_index_list">
    a.isdelete = 0
    and a.node_category = 8
    <if test="params.modelName != null and params.modelName != ''">
      and a.node_text like concat('%',#{params.modelName},'%')
    </if>

  </sql>

</mapper>
