<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tf.base.common.persistence.WordTemplateMapper">
    <resultMap id="BaseResultMap" type="com.tf.base.common.domain.WordTemplate">
        <!--
          WARNING - @mbggenerated
        -->
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="file_name" property="fileName" jdbcType="VARCHAR" />
        <result column="file_path" property="filePath" jdbcType="VARCHAR" />
        <result column="category_id" property="categoryId" jdbcType="INTEGER" />
        <result column="create_uid" property="createUid" jdbcType="INTEGER" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_uid" property="updateUid" jdbcType="INTEGER" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="isdelete" property="isdelete" jdbcType="INTEGER" />
        <result column="file_content" property="fileContent" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbggenerated
        -->
        id, file_name, file_path, category_id, create_uid, create_time, update_uid, update_time, isdelete, file_content
    </sql>

    <select id="getCount" resultType="java.lang.Integer" parameterType="java.util.Map">
        SELECT count(1) from word_template wt
        <where>
            <include refid="where"></include>
        </where>
    </select>


    <sql id="where">
        wt.isdelete = 0
        <if test="params.categoryId != null and params.categoryId != ''">
            and wt.category_id=#{params.categoryId}
        </if>
        <if test="params.modelName != null and params.modelName != ''">
            and wt.file_name like concat('%',#{params.modelName},'%')
        </if>
    </sql>

    <select id="selectList" resultMap="BaseResultMap" parameterType="java.util.Map">
        SELECT
        <include refid="Base_Column_List"/>
        from word_template wt
        <where>
            <include refid="where"></include>
        </where>
        order by id desc
        limit #{start},#{params.rows}
    </select>

    <update id="deleteByCategoryId" parameterType="java.lang.Integer">
    update word_template set isdelete=1 where category_id=#{value}
  </update>
</mapper>